<header class="p-3 bd_bottom_hearder_color text-dark">
  <a href="#" class="d-flex flex-wrap align-items-start justify-content-center justify-content-lg-start" style="font-family:cursive;font-size:2rem;margin-bottom: -1rem;width: 1rem;">AW</a>
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <!--li><a href="#" class="nav-link px-2 text-dark">Home</a></li -->
        <li><%= link_to "Home", root_path(), class:'nav-link px-2 text-dark' %></li>
        <li><%= link_to "Formations", formations_path(), class:'nav-link px-2 text-dark' %></li>
        <li><%= link_to "Cours", cours_path(), class:'nav-link px-2 text-dark' %></li>
        <li><%= link_to "Autres", "#", class:'nav-link px-2 text-dark' %></li>
        
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-white" placeholder="Recherche..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-login me-2">Login</button>
        <button type="button" class="btn btn-danger">Deconnexion</button>
      </div>
    </div>
  </div>
</header>
